<h3 class="p-a=1 col-md-4">To-Do List</h3>

<div class="add-task col-md-4">
  <input class="new-task form-control" #taskName />
  <button class="btn btn-primary m-t-1" (click)="add(taskName.value); taskName.value=''">Add</button>
</div>

<ul class="tasks col-md-4">
  <li *ngFor="let task of tasks; let i = index" [class.selected]="task === selectedTask" (click)="onSelect(task)">
    <span class="badge">{{i + 1}}</span> {{task.action}}
    <button class="delete" (click)="delete(task)">x</button>
    <span class="done-style" *ngIf="task.done">&#10004;</span>
    <span class="done-style" *ngIf="!task.done">&#10008;</span>
  </li>
</ul>
<div class="change col-md-4" *ngIf="changeTask">
  <div class="action-group">
      <h4>Task:</h4>
      <input class="form-control" [(ngModel)]="selectedTask.action" />
  </div>
  <div class="check-done">
    <h4 class="done-text">Done:</h4>
    <button class="btn btn-primary" (click)="done()">DONE</button>
  </div>
  <button class="save btn btn-success" (click)="save()">save</button>
  <button class="back btn btn-warning" (click)="back()">back</button>
</div>


